{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price ($)</th>
            <th scope="col">Date Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in data %}
        <tr>
            {% for value in stock %}
            <td> {{ value }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}